<div class="jumbotron mt4">
    <h1 class="display-4">Portal web de gestión de inventario para los emprendedores de Ciudad Varyna las Cumbres</h1>
    <p class="lead">Un portal diseñado por los estudiantes del segundo año de informática para optar por el título de TSU</p>
    <hr class="my-4">
    <p>Este portal fue elaborado para el beneficio de los pequeños emprendedores, que muchas veces no cuentan con este tipo de ayudas, siendo totalmente gratis para su uso y distribución</p>
    
    


</div>