  <title>Inventario</title>
    <!-- bootstrap 4.6 -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
       <!-- awesome fonts-->
    <script src="https://kit.fontawesome.com/5cb821125f.js" crossorigin="anonymous"></script>
    <!-- mi css -->
    <link rel="stylesheet" href="/css/main.css">
  